
<h1>Rock, Paper, Scissors</h1>
<br>
<h3>Hello! This is a game of rock-paper-scissors.</h3>
<h3>Choose your weapon:</h3>
<a class="btn btn-success btn-large" href="http://localhost:3000/rps_submitted?val=rock">Rock</a> 
<a class="btn btn-success btn-large" href="http://localhost:3000/rps_submitted?val=paper">Paper</a> 
<a class="btn btn-success btn-large" href="http://localhost:3000/rps_submitted?val=scissors">Scissors</a> 
