
<a href="http://localhost:3000/rps_submitted?val=rock">Rock</a> 
<br>
<a href="http://localhost:3000/rps_submitted?val=paper">Paper</a> 
<br>
<a href="http://localhost:3000/rps_submitted?val=scissors">Scissors</a> 
