<h1>Rock, Paper, Scissors</h1>
<br>
<h3>You choose: <%=@player%></h3>
<h3>The computer chose: <%=@computer%></h3>
<br>
<h1>Result: <%=@result%></h1>
<br>
<a class="btn btn-success btn-large" href="http://localhost:3000/rps">Play Again</a> 